html,
body,
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../image/back.jpg");
  background-repeat: no-repeat;
  background-position: right;
}

#logo {
  width: 200px;
  padding: 20px;
  margin: 20px;
}

